 *{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 footer{
    align-items: center;
 }

 .container{
 /* border: 2px solid red; */
 display: flex;
 /* text-align: center; */
 justify-content: center;
background-color: #253131;
 
}
#combain{
    /* display: inline-block;
    flex-direction: column; */
    padding: 8px;
    margin: 4px;
    width: 50%;
    height: auto;
    border: 2px solid white;
}
#combain a{
    font-size: 20px;
    padding: 1px;
    cursor: pointer;
    color: white;
}

@media (min-width: 70px) and (max-width: 352px) {
  
  #combain a{
    /* position: absolute;
    flex-direction: column; */
    font-size: 10px;
    padding: 0px;
    margin: 0px;
  }
}
#combain a:hover{
   
    color: blue;
}