*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 400px;
}
h1{
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 10px 20px;
}
#main .text, .img{
    width: 50%;
    height: 400px;
    float: left;
    border: 1px solid rgb(255, 0, 195);
}
.text p{
    font-size: 32px;
    padding: 20px;
    text-align: justify;
}
.img img{
    width: 100%;
    height: 380px;
    padding: 20px;
}
@media(max-width:768px){
    #main h1{
        color: blue;
    }
    .text p{
        font-size: 15px;
    }
    .img img{
        width: 100%;
        height: 300px;
    }
}
@media(max-width:480px){
    #main h1{
        color: rgb(255, 0, 0);
        font-size: 30px;
    }
    #main .text , .img{
        width: 100%;
    }
    #main .text{
        height: auto;
    }
    #main .img img{
        height: auto;
    }
    /* .text p{
        font-size: 15px;
    }
    .img img{
        width: 100%;
        height: 300px;
    } */
}
@media(min-width:920px) and (max-width:1000px){
    body{
        background: red;
    }
}